## Visual Studio temporales ##
# Ignora la carpeta de configuración de VS y archivos de usuario
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Compilación ##
# Ignora las carpetas de salida de compilación estándar
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/

*.pdb
*.cache
*.obj
*.lib
*.ilk

## Paquetes ##
*.nupkg
packages/
*.snupkg

## Archivos generados por VS ##
*.dbmdl
*.bak
# *.log es muy genérico, lo quitamos por si acaso,
# a menos que estés seguro de que solo son de VS.
*.ldf

## Recursos (Ignorados por solicitud) ##
# Carpetas de modelos y texturas
Models/
Textures/

# Archivos comprimidos
*.zip
*.rar
*.7z

## Otros ##
*.swp
*.tmp
*.vsidx